/*HEADER */
.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 10px;
}

.header p {
	color: MediumAquamarine;
}
/*LOGO*/

.logo {
	display: flex;
	align-items: center;
	border: 1px solid blue;
	width: 75%;
}

.logo p {
	padding: 10px;
}

/*NAVIGATION*/
.navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-right: 25px;
	border: 1px solid blue;	
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	padding: 10px;
	color: black;
}

/*CONTENT*/
.article p {
	display: flex;
	border: 2px solid blue;
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

.imagetext {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	display: flex;
}

#mainimage {
	background-image: url("../images/img-story-main.png");
	min-height: 300px;
	display: flex;
}

#image2 {
	background-image: url("../images/img-story-2.png");
	background-repeat: no-repeat;
	min-height: 300px;
	display: flex;
}

#image3 {
	background-image: url("../images/img-story-3.png");
	background-repeat: no-repeat;
	min-height: 300px;
	display: flex;
}

#image4 {
	background-image: url("../images/img-story-1.png");
	min-height: 300px;
	display: flex;
}

#image5 {
	background-image: url("../images/img-news-bite.png");
	min-height: 300px;
	display: flex;
}

/*MAIN BODY CONTAINERS*/
.container {
	display: flex;
	border: 2px solid black;
	justify-content: space-around;
}

.column.large {
	display: flex;
	width: 630px;
	border: 2px solid black;
	flex-direction: row;
	flex-wrap: wrap;
}

.column.medium {
	display: flex;
	width: 300px;
	border: 2px solid black;
	flex-direction: column;
}

.column.small {
	display: flex;
	width: 240px;
	border: 2px solid black;
	flex-direction: column;
}

.articleblock {
	display:block;	
}		

.footer {
	display: flex;
	align-content: center;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: verdana;
	font-size: 12px;
	min-height: 350px;
}